<div class="row">
    <div class="col-xs-12">
        <h4><%= links = [link_to('Home', root_url)]
                category.crumbs.each do |crumb|
                  crumb_split = crumb.split('$')
                  if crumb_split.length > 1
                    links << link_to(crumb_split[0], home_category_url(crumb_split[1]))
                  else
                    links << crumb
                  end
                end
                links.join(' > ').html_safe %></h4>
    </div>
</div>