<% content_for(:title, "Search Results for \"#{params[:term]}\" - Angadi") %>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4><%= link_to('Home', root_url) %></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9 text-center">
            <h1>Search results for "<%= params[:term] %>"</h1>
        </div>
    </div>
    <% if products.empty? %>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 text-center">
                <h3>No results</h3>
            </div>
        </div>
    <% else %>
        <%= render partial: 'category/products', locals: {
                categories: categories,
                products: products,
                brands: products.collect(&:brand).uniq
        } %>
    <% end %>

</div>
