// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
  font-size: 15px;
  padding: 10px 0;
}

.price {
  font-size: 22px;
  font-weight: 500;
  padding: 10px 0;
}