<%# add navigation links to this file %>
<% cache do %>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Find by Category
        </a>
        <ul class="dropdown-menu">
            <% Category.where(parent_id: nil, deleted: false).each do |category| %>
                <% sub_categories = Category.where(parent_id: category.id) %>
                <% next if sub_categories.empty? %>
                <li class="list-group-item">
                    <%= link_to(category.name, home_category_url(category.id)) %>
                    <ul class="dropdown-menu dropdown-menu-far-right">
                    <% sub_categories.each do |sub_category| %>
                        <li class="list-group-item"><%= link_to(sub_category.name, home_category_url(sub_category.id)) %></li>
                    <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </li>
<% end %>
